xsd/domconfig.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar
    xmlns="http://relaxng.org/ns/structure/1.0"
    datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">


<define name="triggerModeType">
  <choice>
    <value>mpe</value>
    <value>spe</value>
  </choice>
</define>

<!-- analog mux type 
-->
<define name="analogMuxType">
  <choice>
    <value>off</value>
    <value>clock</value>
    <value>clock2x</value>
    <value>onboardLedCurrent</value>
    <value>flasherLedCurrent</value>
    <value>localCoincidenceDown</value>
    <value>localCoincidenceUp</value>
    <value>commAdc</value>
    <value>internalPulser</value>
  </choice>
</define>


<!-- pulserMode type
-->
<define name="pulserModeType">
  <choice>
    <value>beacon</value>
    <value>pulser</value>
  </choice>
</define>


<!-- boolean string type (true/false)
-->
<define name="booleanStringType">
  <choice>
    <value>true</value>
    <value>false</value>
  </choice>
</define>


<!-- Local Coincidence mode type
-->
<define name="modeType">
  <choice>
    <value>none</value>
    <value>up-or-down</value>
    <value>up</value>
    <value>down</value>
    <value>up-and-down</value>
    <value>headers-only</value>
  </choice>
</define>


<!-- local coincidence txMode
-->
<define name="txModeType">
  <choice>
    <value>none</value>
    <value>both</value>
    <value>up</value>
    <value>down</value>
  </choice>
</define>

<!-- local coincidence source type
-->
<define name="sourceType">
  <choice>
    <value>spe</value>
    <value>mpe</value>
  </choice>
</define>

<!-- local coincidence type
-->
<define name="localCoincidenceType">
  <choice>
    <value>hard</value>
    <value>soft</value>
  </choice>
</define>


<!-- average pedestal attribute types 
-->
<define name="avgPedAtwdType">
  <choice>
    <value>A</value>
    <value>B</value>
  </choice>
</define>

<define name="atwdContentType">
  <element name="samples">
    <data type="integer"/>
  </element>
  <attribute name="ch">
    <data type="integer"/>
  </attribute>
</define>


<define name="real_dom">
  <group>
    <interleave>
      <!-- format element-->
      <element name="format">
	<choice>
	  <element name="deltaCompressed">
	    <empty/>
	  </element>
	  
	  <element name="engineeringFormat">
	    <group>
	      <element name="fadcSamples">
		<data type="integer"/>
	      </element>
	      
	      <element name="atwd">
		<ref name="atwdContentType"/>
	      </element>
	      <element name="atwd">
		<ref name="atwdContentType"/>
	      </element>
	      <element name="atwd">
		<ref name="atwdContentType"/>
	      </element>
	      <element name="atwd">
		<ref name="atwdContentType"/>
	      </element>
	    </group>
	  </element>
	</choice>
      </element>
      
      <optional>
	<element name="atwdChipSelect">
	  <data type="string"/>
	</element>
      </optional>
      
      
      <optional>
	<element name="triggerMode">
	  <ref name="triggerModeType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd0TriggerBias">
	  <ref name="atwd0TriggerBiasType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd1TriggerBias">
	  <ref name="atwd1TriggerBiasType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd0RampRate">
	  <ref name="atwd0RampRateType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd1RampRate">
	  <ref name="atwd1RampRateType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd0RampTop">
	  <ref name="atwd0RampTopType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwd1RampTop">
	  <ref name="atwd1RampTopType"/>
	</element>
      </optional>
      
      <optional>
	<element name="atwdAnalogRef">
	  <ref name="atwdAnalogRefType"/>
	</element>
      </optional>
      
      <optional>
	<element name="frontEndPedestal">
	  <ref name="frontEndPedestalType"/>
	</element>
      </optional>
      
      <optional>
	<element name="fastAdcRef">
	  <ref name="fastAdcRefType"/>
	</element>
      </optional>
      
      <optional>
	<element name="speTriggerDiscriminator">
	  <ref name="speTriggerDiscriminatorType"/>
	</element>
      </optional>
      
      <optional>
	<element name="mpeTriggerDiscriminator">
	  <ref name="mpeTriggerDiscriminatorType"/>
	</element>
      </optional>
      
      <optional>
	<element name="internalPulser">
	  <ref name="internalPulserType"/>
	</element>
      </optional>
      
      <optional>
	<element name="ledBrightness">
	  <ref name="ledBrightnessType"/>
	</element>
      </optional>
      
      <optional>
	<element name="frontEndAmpLowerClamp">
	  <ref name="frontEndAmpLowerClampType"/>
	</element>
      </optional>
      
      <optional>
	<choice>
	  <element name="flasherDelay">
	    <ref name="flasherDelayType"/>
	  </element>
	  
	  <element name="flasherRef">
	    <ref name="flasherRefType"/>
	  </element>
	</choice>
      </optional>
      
      <optional>
	<element name="muxBias">
	  <ref name="muxBiasType"/>
	</element>
      </optional>
      
      <optional>
	<element name="pmtHighVoltage">
	  <ref name="pmtHighVoltageType"/>
	</element>
      </optional>
      
      <optional>
	<element name="analogMux">
	  <ref name="analogMuxType"/>
	</element>
      </optional>
      
      <optional>
	<element name="pulserMode">
	  <ref name="pulserModeType"/>
	</element>
      </optional>
      
      <optional>
	<element name="pulserRate">
	  <ref name="pulserRateType"/>
	</element>
      </optional>
      
      <optional>
	<element name="pedestalSubtract">
	  <ref name="booleanStringType"/>
	</element>
      </optional>
      
      <optional>
	<element name="hardwareMonitorInterval">
	  <ref name="hardwareMonitorIntervalType"/>
	</element>
      </optional>
      
      <optional>
	<element name="chargeStamp">
	  <attribute name="type">
	    <choice>
	      <value>atwd</value>
	    </choice>
	  </attribute>
	  <optional>
	    <attribute name="channel"/>
	  </optional>
	</element>
      </optional>
      
      <optional>
	<element name="chargeHistogram">
	  <element name="interval">
	    <data type="integer"/>
	  </element>
	  <element name="prescale">
	    <data type="integer"/>
	  </element>
	</element>
      </optional>
      
      
      <!-- Okay, these two options should be mutually exclusive -->      
      <choice>
	<optional>
	  <element name="enableIceTopMinBias">
	    <empty/>
	  </element>
	</optional>
	
	<optional>
	  <element name="disableIceTopMinBias">
	    <empty/>
	  </element>
	</optional>
      </choice>

      <optional>
	<element name="pedestalSettings">
	  <group>
	    <!-- rng doesn't do minOccurs / maxOccurs so if you want -->
	    <!-- a set number of elements you have to specify them -->
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	    
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	    
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	    
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	    
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	    
	    <element name="averagePedestal">
	      <data type="integer"/>
	      <attribute name="atwd">
		<ref name="avgPedAtwdType"/>
	      </attribute>
	      <attribute name="ch">
		<ref name="avgPedChanType"/>
	      </attribute>
	    </element>
	  </group>
	</element>
      </optional>
      <!-- end of pedestalSettings -->
      
      <optional>
	<element name="localCoincidence">
	  <group>
	    <element name="type">
	      <ref name="localCoincidenceType"/>
	    </element>
	    
	    <element name="mode">
	      <ref name="modeType"/>
	    </element>
	    
	    <element name="txMode">
	      <ref name="txModeType"/>
	    </element>
	    
	    <element name="source">
	      <ref name="sourceType"/>
	    </element>
	    
	    <element name="span">
	      <ref name="spanType"/>
	    </element>
	    
	    <element name="preTrigger">
	      <ref name="prepostTriggerType"/>
	    </element>
	    
	    <element name="postTrigger">
	      <ref name="prepostTriggerType"/>
	    </element>
	    
	    <oneOrMore>
	      <element name="cableLength">
		<data type="integer"/>
		<attribute name="dir">
		  <data type="string"/>
		</attribute>
		<attribute name="dist">
		  <data type="integer"/>
		</attribute>
	      </element>
	    </oneOrMore>
	  </group>
	</element>
      </optional>
      
      <optional>
	<element name="supernovaMode">
	  <optional>
	    <element name="deadtime">
	      <data type="integer"/>
	    </element>
	  </optional>
	  
	  <optional>
	    <element name="disc">
	      <data type="string"/>
	    </element>
	  </optional>
	  
	  <attribute name="enabled">
	    <data type="string"/>
	  </attribute>
	</element>
      </optional>
      
      <optional>
	<element name="scalerDeadtime">
	  <data type="integer"/>
	</element>
      </optional>
    </interleave>
  </group>
</define>


<define name="sim_dom">
  <element name="simulation">
    <element name="noiseRate">
      <data type="decimal"/>
    </element>

    <optional>
      <element name="hlcFraction">
	<data type="decimal"/>
      </element>
    </optional>
  </element>
</define>


<define name="domConfigListType">
  <element name="domConfigList">	
    <!-- historical attribute, that sometimes is used and sometimes not -->
    <!-- examining the stringhub code it does not appear to be required -->
    <!-- nor should it cause any harm.  Allow it -->
    <optional>
      <attribute name="configId">
	<data type="string"/>
      </attribute>
    </optional>
    
    <oneOrMore>
      <element name="domConfig">
	<choice>
	  <ref name="real_dom"/>
	  <ref name="sim_dom"/>
	</choice>	
	
	<attribute name="mbid">
	  <data type="string"/>
	</attribute>

	<optional>
	  <attribute name="name">
	    <data type="string"/>
	  </attribute>
	</optional>
      </element>
    </oneOrMore>
  </element>
</define>
</grammar>
	
      



      
	


      
      