xsd/domconfig-sps.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">


<!-- The following are custom types defined for range checking on dom config 
arguments.  Asking daq-dev did not come up with a concrete list of
valid ranges for dom setting arguments so some code was written to
parse all dom config files with an sps* prefix and generate some
statistics about the range of values used.  The types here will
explain the range of values actually used, but will contain a 10% slop
factor to lower the chance of false positives when validating xml
files.

Note that this schema is tuned to check REAL dom config files.  It will do
so fairly strictly.  This will trip on some simulated dom config files, but
altering the schema to support them is a bit questionable.

-->


<!-- flasherRef max/min = 450/450/450 
     with slop  max/min = 495/405
  -->
<xs:simpleType name="flasherRefType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="495"/>
    <xs:minInclusive value="405"/>
  </xs:restriction>
</xs:simpleType>

<!-- muxBias max/min = 1000/500
     with slop max/min = 1100/450
-->
<xs:simpleType name="muxBiasType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1100"/>
    <xs:minInclusive value="450"/>
  </xs:restriction>
</xs:simpleType>

<!-- led brightness max/min = 1023/1023
     with slop max/min = 1125 / 920
-->
<xs:simpleType name="ledBrightnessType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1125"/>
    <xs:minInclusive value="920"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd1RampRate max/min = 350/350
     with slop max/min = 385/315
-->
<xs:simpleType name="atwd1RampRateType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="385"/>
    <xs:minInclusive value="315"/>
  </xs:restriction>
</xs:simpleType>

<!-- hardwareMonitorInterval max/min = 1/1
     with slop max/min = 1/1
-->

<xs:simpleType name="hardwareMonitorIntervalType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1"/>
    <xs:minInclusive value="1"/>
  </xs:restriction>
</xs:simpleType>


<!-- frontEndPedestal max/min = 2130/2130
     with slop max/min = 2343 / 1917
-->
<xs:simpleType name="frontEndPedestalType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="2343"/>
    <xs:minInclusive value="1917"/>
  </xs:restriction>
</xs:simpleType>


<!-- frontEndAmpLowerClamp max/min = 0/0
     with slop max/min = 0/0
-->
<xs:simpleType name="frontEndAmpLowerClampType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="0"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd0RampRate max/min = 350/350
     with slop max/min = 385/315
-->
<xs:simpleType name="atwd0RampRateType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="385"/>
    <xs:minInclusive value="315"/>
  </xs:restriction>
</xs:simpleType>

<!-- scalerDeadtimeType max/min = 51200/51200
     with slop max/min = 56320/46080
-->
<xs:simpleType name="scalerDeadtimeType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="56320"/>
    <xs:minInclusive value="46080"/>
  </xs:restriction>
</xs:simpleType>

<!-- flasherDelay max/min = 450/0
     with slop max/min = 495/0 ( apparently this in adc counts, nothing less than 0 )
-->
<xs:simpleType name="flasherDelayType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="495"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- fastAdcRef max/min = 800/800
     with slop max/min = 880/720
-->
<xs:simpleType name="fastAdcRefType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="880"/>
    <xs:minInclusive value="720"/>
  </xs:restriction>
</xs:simpleType>

<!-- speTriggerDiscriminator max/min = 1023 / 538
     with slop max/min = 1125 / 484
-->
<xs:simpleType name="speTriggerDiscriminatorType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1125"/>
    <xs:minInclusive value="484"/>
  </xs:restriction>
</xs:simpleType>

<!-- pulserRate max/min = 5/1
    with slop max/min = 6 / 0
-->
<xs:simpleType name="pulserRateType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="6"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd1RampTop max/min = 2300 / 2300
     with slop max/min = 2530 / 2070
-->
<xs:simpleType name="atwd1RampTopType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="2530"/>
    <xs:minInclusive value="2070"/>
  </xs:restriction>
</xs:simpleType>

<!-- pmtHighVoltage max/min = 3374 / 0 
     with slop max/min = 3711/0
-->
<xs:simpleType name="pmtHighVoltageType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="3711"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- internal pulser max/min = 0/0
     with slop max/min = 0 / 0
-->
<xs:simpleType name="internalPulserType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="0"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwdAnalogRef max/min = 2250 / 2250 
     with slop max/min = 2475 / 2025
-->
<xs:simpleType name="atwdAnalogRefType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="2475"/>
    <xs:minInclusive value="2025"/>
  </xs:restriction>
</xs:simpleType>

<!-- mpeTriggerDiscriminator max/min = 971 / 546
     with slop max/min = 1068 / 491
-->
<xs:simpleType name="mpeTriggerDiscriminatorType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1068"/>
    <xs:minInclusive value="491"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd0TriggerBias max/min = 1011/694
     with slop max/min = 1112 / 624
-->
<xs:simpleType name="atwd0TriggerBiasType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1112"/>
    <xs:minInclusive value="624"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd1TriggerBias max/min = 1010 / 734
     with slop max/min = 1111 / 660
-->
<xs:simpleType name="atwd1TriggerBiasType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1111"/>
    <xs:minInclusive value="660"/>
  </xs:restriction>
</xs:simpleType>

<!-- atwd0RampTop max/min = 2300 / 2300
     with slop max/min = 2530 / 2070
-->
<xs:simpleType name="atwd0RampTopType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="2530"/>
    <xs:minInclusive value="2070"/>
  </xs:restriction>
</xs:simpleType>

<!-- pretrigger/posttrigger max/min = 1000 
     with slop max/min = 1100/900
-->
<xs:simpleType name="prepostTriggerType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="1100"/>
    <xs:minInclusive value="900"/>
  </xs:restriction>
</xs:simpleType>

<!-- span max/min = 2/1
     with slop max/min = 3/0
-->
<xs:simpleType name="spanType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="3"/>
    <xs:minInclusive value="0"/>
  </xs:restriction>
</xs:simpleType>

<!-- cableLengthType max/min = 2725/550
     with slop max/min = 2997 / 495
-->
<xs:simpleType name="cableLengthType">
  <xs:restriction base="xs:integer">
    <xs:maxInclusive value="2997"/>
    <xs:minInclusive value="495"/>
  </xs:restriction>
</xs:simpleType>


<!-- trigger mode type
-->
<xs:simpleType name="triggerModeType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="mpe"/>
    <xs:enumeration value="spe"/>
  </xs:restriction>
</xs:simpleType>

<!-- analog mux type 
-->
<xs:simpleType name="analogMuxType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="off"/>
    <xs:enumeration value="clock"/>
    <xs:enumeration value="clock2x"/>
    <xs:enumeration value="onboardLedCurrent"/>
    <xs:enumeration value="flasherLedCurrent"/>
    <xs:enumeration value="localCoincidenceDown"/>
    <xs:enumeration value="localCoincidenceUp"/>
    <xs:enumeration value="commAdc"/>
    <xs:enumeration value="internalPulser"/>
  </xs:restriction>
</xs:simpleType>

<!-- pulserMode type
-->
<xs:simpleType name="pulserModeType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="beacon"/>
    <xs:enumeration value="pulser"/>
  </xs:restriction>
</xs:simpleType>


<!-- boolean string type (true/false)
-->
<xs:simpleType name="booleanStringType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="true"/>
    <xs:enumeration value="false"/>
  </xs:restriction>
</xs:simpleType>

<!-- Local Coincidence mode type
-->
<xs:simpleType name="modeType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="none"/>
    <xs:enumeration value="up-or-down"/>
    <xs:enumeration value="up"/>
    <xs:enumeration value="down"/>
    <xs:enumeration value="up-and-down"/>
    <xs:enumeration value="headers-only"/>
  </xs:restriction>
</xs:simpleType>



<!-- local coincidence txMode
-->
<xs:simpleType name="txModeType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="none"/>
    <xs:enumeration value="both"/>
    <xs:enumeration value="up"/>
    <xs:enumeration value="down"/>
  </xs:restriction>
</xs:simpleType>

<!-- local coincidence source type
-->		
<xs:simpleType name="sourceType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="spe"/>
    <xs:enumeration value="mpe"/>
  </xs:restriction>
</xs:simpleType>

<!-- local coincidence type
-->
<xs:simpleType name="localCoincidenceType">
  <xs:restriction base="xs:string">
    <xs:whiteSpace value="collapse"/>
    <xs:enumeration value="hard"/>
    <xs:enumeration value="soft"/>
  </xs:restriction>
</xs:simpleType>



<xs:element name="domConfigList">
 <xs:complexType>

<xs:sequence>

<xs:element name="domConfig" minOccurs="1" maxOccurs="unbounded">
<xs:complexType>
  <!-- REAL DOM CONFIG -->
  <xs:all>
    <xs:element name="format">
      <xs:complexType>
	<xs:choice>
	  <xs:element name="deltaCompressed"/>

	  <xs:element name="engineeringFormat">
	    <xs:complexType>
	      <xs:sequence>
		<xs:element name="fadcSamples" type="xs:integer"/>
		<xs:element name="atwd" minOccurs="4" maxOccurs="4">
		  <xs:complexType>
		    <xs:sequence>
		      <xs:element name="samples" type="xs:integer" minOccurs="1" maxOccurs="1"/>
		    </xs:sequence>
		    <xs:attribute name="ch" type="xs:integer"/>
		  </xs:complexType>
	      </xs:element>
	      </xs:sequence>
	    </xs:complexType>
	  </xs:element>

	</xs:choice>
      </xs:complexType>
    </xs:element>

    <xs:element name="atwdChipSelect" type="xs:string" minOccurs="0"/>
    
    <xs:element name="triggerMode" type="triggerModeType"/>
    
    <xs:element name="atwd0TriggerBias" type="atwd0TriggerBiasType"/>
    <xs:element name="atwd1TriggerBias" type="atwd1TriggerBiasType"/>
    <xs:element name="atwd0RampRate" type="atwd0RampRateType"/>
    <xs:element name="atwd1RampRate" type="atwd1RampRateType"/>
    <xs:element name="atwd0RampTop" type="atwd0RampTopType"/>
    <xs:element name="atwd1RampTop" type="atwd1RampTopType"/>
    <xs:element name="atwdAnalogRef" type="atwdAnalogRefType"/>
    <xs:element name="frontEndPedestal" type="frontEndPedestalType"/>
    <xs:element name="fastAdcRef" type="fastAdcRefType"/>
    <xs:element name="speTriggerDiscriminator" type="speTriggerDiscriminatorType"/>
    <xs:element name="mpeTriggerDiscriminator" type="mpeTriggerDiscriminatorType"/>
    <xs:element name="internalPulser" type="internalPulserType"/>
    <xs:element name="ledBrightness" type="ledBrightnessType"/>
    <xs:element name="frontEndAmpLowerClamp" type="frontEndAmpLowerClampType"/>
    
    <!-- Okay, so this isn't the best..  This should be a choice
	 but that doesn't appear to work inside a all -->
    <xs:element name="flasherDelay" type="flasherDelayType" minOccurs="0" maxOccurs="1"/>
    <xs:element name="flasherRef" type="flasherRefType" minOccurs="0" maxOccurs="1"/>
    
    
    <xs:element name="muxBias" type="muxBiasType"/>
    <xs:element name="pmtHighVoltage" type="pmtHighVoltageType"/>

    <xs:element name="analogMux" type="analogMuxType"/>

    <xs:element name="pulserMode" type="pulserModeType"/>
    
    <xs:element name="pulserRate" type="pulserRateType"/>
    <xs:element name="pedestalSubtract" minOccurs="0" maxOccurs="1" type="booleanStringType"/>


    <xs:element name="hardwareMonitorInterval" minOccurs="0" maxOccurs="1" type="hardwareMonitorIntervalType"/>

    <xs:element name="chargeStamp" minOccurs="0" maxOccurs="1">
      <xs:complexType>
	<xs:attribute name="type">
	  <xs:simpleType>
	    <xs:restriction base="xs:string">
	      <xs:enumeration value="atwd"/>
	    </xs:restriction>
	  </xs:simpleType>
	</xs:attribute>
	<xs:attribute name="channel" type="xs:string" use="optional"/>
      </xs:complexType>
    </xs:element>

    <xs:element name="chargeHistogram" minOccurs="0" maxOccurs="1">
      <xs:complexType>
	<xs:sequence>
	  <xs:element name="interval" type="xs:integer"/>
	  <xs:element name="prescale" type="xs:integer"/>
	</xs:sequence>
      </xs:complexType>
    </xs:element>

    <xs:element name="enableIceTopMinBias" minOccurs="0"/>
    <xs:element name="disabaleIceTopMinBias" minOccurs="0"/>

    <xs:element name="localCoincidence">
      <xs:complexType>
	<xs:sequence>

	  <xs:element name="type" type="localCoincidenceType"/>

	  <xs:element name="mode" type="modeType"/>

	  <xs:element name="txMode" type="txModeType"/>

	  <xs:element name="source" type="sourceType"/>

	  <xs:element name="span" type="xs:integer"/>
	  <xs:element name="preTrigger" type="xs:integer"/>
	  <xs:element name="postTrigger" type="xs:integer"/>
	  <xs:element name="cableLength" maxOccurs="unbounded">
	    <xs:complexType>
	      <xs:simpleContent>
		<xs:extension base="xs:integer">
		  <xs:attribute name="dir" type="xs:string" use="required"/>
		  <xs:attribute name="dist" type="xs:integer" use="required"/>
		</xs:extension>
	      </xs:simpleContent>
	    </xs:complexType>
	  </xs:element>
	</xs:sequence>
      </xs:complexType>
    </xs:element>
    
    <xs:element name="supernovaMode">
      <xs:complexType>
	<xs:all>
	  <xs:element name="deadtime" type="xs:integer" minOccurs="0"/>
	  <xs:element name="disc" type="xs:string" minOccurs="0"/>
	</xs:all>
	<xs:attribute name="enabled" type="xs:string" use="required"/>
      </xs:complexType>
    </xs:element>
      
    <xs:element name="scalerDeadtime" type="xs:integer"/>
  </xs:all>
  <xs:attribute name="name" type="xs:string" use="optional"/>
  <xs:attribute name="mbid" type="xs:string" use="required"/>
</xs:complexType>
</xs:element>

</xs:sequence>
<xs:attribute name="configId" type="xs:string"/>
</xs:complexType>
</xs:element>

</xs:schema>
